*
!*.gitignore

# Policies
!Policies/
!Policies/Adjust_TR_Calib_Passenger.jl
!Policies/Adjust_TR_Covid.jl
!Policies/AdjustCAC_NB_Elec.jl
!Policies/AdjustCAC_NL_Elec.jl
!Policies/AdjustCAC_Steel_2024.jl
!Policies/AdjustEnergyIntensity_Petroleum.jl
!Policies/Ag_ACT_CO2_reduction.jl
!Policies/Ag_Methane_Reduction_CA.jl
!Policies/CAC_BLIERS.jl
!Policies/CAC_CCME_AcidRain.jl
!Policies/CAC_CleanAir_QC.jl
!Policies/CAC_ExogenousCogen_LNG.jl
!Policies/CAC_FreightStandards.jl
!Policies/CAC_Hg_Products.jl
!Policies/CAC_Locomotive.jl
!Policies/CAC_MSAPR.jl
!Policies/CAC_NL_AirControlReg.jl
!Policies/CAC_NS_AirQualityReg.jl
!Policies/CAC_OffRoad.jl
!Policies/CAC_ON_SOX_Nickel_Smelting_Refining.jl
!Policies/CAC_ON_SOXPetroProd.jl
!Policies/CAC_PassStandards.jl
!Policies/CAC_ProvRecipReg.jl
!Policies/CAC_VOC_PetroleumSectors.jl
!Policies/CAC_VOC_Products.jl
!Policies/CCS_Heidelberg_AB.jl
!Policies/CCS_ITC.jl
!Policies/CFS_LiquidEVCredit.jl
!Policies/CFS_LiquidMarket_CN.jl
!Policies/CFS_LiquidNGCredit.jl
!Policies/CFS_LiquidPrice.jl
!Policies/Com_BldgStdPolicy.jl
!Policies/Com_MS_Biomass_NT.jl
!Policies/Com_MS_Coefficient.jl
!Policies/Com_MS_ConvElectric_CA.jl
!Policies/Com_MS_Conversions.jl
!Policies/Com_MS_Electric_NL.jl
!Policies/Com_MS_HeatPump_BC.jl
!Policies/Com_MS_Initialize.jl
!Policies/Com_MS_LCEFC.jl
!Policies/Com_MS_NewElectric_CA.jl
!Policies/Com_MS_Normalize.jl
!Policies/Com_PeakSavings.jl
!Policies/DAC_Exogenous_CA.jl
!Policies/Eff_MB_Act.jl
!Policies/EIP_CCS_2.jl
!Policies/Electric_Costs_SK_Coal.jl
!Policies/Electric_Fed_Coal_Amendment.jl
!Policies/Electric_Fed_Coal_Retire.jl
!Policies/Electric_ImportEmissions_CA.jl
!Policies/Electric_Offsets_BC.jl
!Policies/Electric_Renew_NS.jl
!Policies/ElectricDeliveryCharge_Switch.jl
!Policies/Electricity_ITCs.jl
!Policies/Electricity_Patch.jl
!Policies/Electricity_SREPS.jl
!Policies/EndogenousElectricCapacity.jl
!Policies/EPS_NS_GHGLimit.jl
!Policies/EPS_NS_HydroPurchases.jl
!Policies/FossilGeneration_CA.jl
!Policies/GHG_CCSCurves.jl
!Policies/GHG_Ind_ProcessReductionCurves.jl
!Policies/GreenFreightProgram.jl
!Policies/H2_Supply.jl
!Policies/HDV2.jl
!Policies/HFC_ReductionCurves_ON_QC.jl
!Policies/HFCS.jl
!Policies/Hydrogen_ITC.jl
!Policies/Ind_AB_Cement.jl
!Policies/Ind_AB_PP.jl
!Policies/Ind_Biomass_QC.jl
!Policies/Ind_Chemicals_CA.jl
!Policies/Ind_CleanBC_Cmnt.jl
!Policies/Ind_CleanBC_PP.jl
!Policies/Ind_CleanBC_SourGas.jl
!Policies/Ind_CleanBC_UnConv.jl
!Policies/Ind_Construction_CA.jl
!Policies/Ind_Conv_BC_Elec.jl
!Policies/Ind_Conv_Initialize.jl
!Policies/Ind_EcoPerformQC.jl
!Policies/Ind_EIP_Cement.jl
!Policies/Ind_EnM.jl
!Policies/Ind_Food_CA.jl
!Policies/Ind_Fungible_Coefficients.jl
!Policies/Ind_Fungible_Initialize.jl
!Policies/Ind_H2_DemandsAP.jl
!Policies/Ind_H2_FeedstocksAP.jl
!Policies/Ind_LCEF_Dev.jl
!Policies/Ind_LCEF_Leader.jl
!Policies/Ind_LCEF_Pro.jl
!Policies/Ind_MS_Biomass_Exo.jl
!Policies/Ind_MS_Coefficient.jl
!Policies/Ind_MS_Elec_PeaceRiverBC.jl
!Policies/Ind_MS_Initialize.jl
!Policies/Ind_MS_IronSteel.jl
!Policies/Ind_MS_LCEF_EIP.jl
!Policies/Ind_MS_Normalize.jl
!Policies/Ind_MS_OCNL.jl
!Policies/Ind_NG.jl
!Policies/Ind_NL_Adjust.jl
!Policies/Ind_NLOC_Eff.jl
!Policies/Ind_NLOC_Pro.jl
!Policies/Ind_OnFarm_CA.jl
!Policies/Ind_OtherManufacturing_CA.jl
!Policies/Ind_PeakSavings.jl
!Policies/Ind_Process_Cement_CA.jl
!Policies/Ind_RioBlue_NG.jl
!Policies/Ind_RioBlue.jl
!Policies/Interties.jl
!Policies/KPIA-Biofuels-Prov.jl
!Policies/LCEFC_HFC_Com.jl
!Policies/LCEFL_Res.jl
!Policies/LCFS_BC.jl
!Policies/LDV2.jl
!Policies/NRCan_Elec_EmergingRenewables.jl
!Policies/NRCan_Elec_SmallCommunities.jl
!Policies/NRCan_Elec_SmartGrid_Energy.jl
!Policies/NRCan_Elec_SmartGrid_Peak.jl
!Policies/OG_MRA.jl
!Policies/OG_Venting.jl
!Policies/OGProduction_CA.jl
!Policies/ParasiticLoss.jl
!Policies/Petroleum_CA.jl
!Policies/QC_EcoPerf_Com.jl
!Policies/QCPETMAF.jl
!Policies/RenewableLiquidsMaximum_CA.jl
!Policies/Res_BldgStdPolicy.jl
!Policies/Res_CGHG.jl
!Policies/Res_MS_Biomass_NT.jl
!Policies/Res_MS_Coefficient.jl
!Policies/Res_MS_ConvElectric_CA.jl
!Policies/Res_MS_Conversions.jl
!Policies/Res_MS_Electric_NL.jl
!Policies/Res_MS_HeatPump_BC.jl
!Policies/Res_MS_HeatPump_NRCAN.jl
!Policies/Res_MS_Initialize.jl
!Policies/Res_MS_NewElectric_CA.jl
!Policies/Res_MS_Normalize.jl
!Policies/Res_PeakSavings.jl
!Policies/ResCom_EIP.jl
!Policies/Retro_Device_Com_Elec.jl
!Policies/Retro_Device_Com_NG.jl
!Policies/Retro_Device_Res_Elec.jl
!Policies/Retro_Device_Res_NG.jl
!Policies/Retro_Process_Com_Elec.jl
!Policies/Retro_Process_Com_NG.jl
!Policies/Retro_Process_Res_Elec.jl
!Policies/Retro_Process_Res_NG.jl
!Policies/RNG_H2_Pipeline_CA.jl
!Policies/RNG_Standard_BC.jl
!Policies/RNG_Standard_QC.jl
!Policies/StdEq_Com_U19.jl
!Policies/StdEq_Res_U19.jl
!Policies/Trans_BiofuelEmissions_CA.jl
!Policies/Trans_DEStdP_CA.jl
!Policies/Trans_MarineOffRoad_CA.jl
!Policies/Trans_MS_Biofuels_CA.jl
!Policies/Trans_MS_Bus_Train.jl
!Policies/Trans_MS_Coefficient.jl
!Policies/Trans_MS_Conversions_CA.jl
!Policies/Trans_MS_Conversions.jl
!Policies/Trans_MS_Freight_Modal_Shares.jl
!Policies/Trans_MS_HDV_CA.jl
!Policies/Trans_MS_HDV_Electric_BC.jl
!Policies/Trans_MS_iMHZEV.jl
!Policies/Trans_MS_Initialize.jl
!Policies/Trans_MS_LDV_CA.jl
!Policies/Trans_MS_LDV_Electric.jl
!Policies/Trans_MS_Normalize.jl
!Policies/Trans_MS_PREGTI_QC.jl
!Policies/Trans_MS_Train_CA.jl
!Policies/Trans_OGV_CA.jl
!Policies/Trans_PEStdP_CA.jl
!Policies/Trans_Plane_CA.jl
!Policies/Trans_Vol_Planes.jl
!Policies/Trans_Vol_Rail.jl
!Policies/TransElectric_Parameters.jl
!Policies/UnitNoGrid_NoPSo.jl
!Policies/Waste_diversion.jl
